/node_modules
/public/storage
!/public/index.php
!/public/favicon.ico
!/public/web.config
!/public/.htaccess
!/public/robots.txt
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
.env
/.vagrant
/.idea
.phpstorm.meta.php
_ide_helper.php
yarn-error.log
